body {
  background-image: url('/my\ project/images/fox.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
}